@using System
@using System.Collections.Generic
@using System.Linq
@using System.Text
@using System.Web.Helpers
@using DTO.Menu
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var separador = "";
}

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jConteudo.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/fancybox/jquery.fancybox-1.3.4.pack.js")"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/fancybox/jquery.fancybox-1.3.4.css")" media="screen" />

}


@model SitePortal.Models.Portal

@{
    var AppPath = Url.Content("~/");
    var columns = new List<WebGridColumn>();
    var grid = new WebGrid(Model.Noticias.OrderByDescending(x => x.Data), canPage: true, rowsPerPage: 10);

    var colResult = "<div class=\"resultados\">{6} <div style=\"float: left; padding-left: 12px;\"><h3>{0}&nbsp;&nbsp;{3}</h3><h1><a href=\"" + AppPath + "Noticias/{4}/{5}\" class=\"opacidade\">{1}</a></h1><h2>{2}</h2></div></div>";

    columns.Add(grid.Column("Detalhe.Titulo", "Título",
        (item) => Html.Raw(
            string.Format(
                colResult,
                (item.Data != null) ? item.Data.ToString().Replace(" 00:00:00", "").Replace(" 12:00:00 AM", "") : "",
                item.Detalhe.Titulo,
                item.Detalhe.Resumo,
                (item.Complemento.Privado == true) ? @"<img src=""" + AppPath + @"Images/Img_cadeado.png"" alt=""cadeado ccbc"" />" : "",
                item.PublicacaoId,
                @DAL.Util.GerarURLAmigavel(item.Detalhe.Titulo),

                //{6} = Imagem destaque
                (item.ArquivoDestaqueId != null && item.ArquivoDestaqueId != 0) ? string.Format(@"<div style=""float: left; width: 100px; padding-left: 12px;""><img src=""" + AppPath + @"File?id={0}"" style=""width: 100px;"" /></div>", item.ArquivoDestaqueId) : ""

            ))));

}

<div class="geral-1050">
    <div class="conteudo">

        @if (Model.Conteudo == null || Model.Conteudo.PublicacaoId == 0)
        {
            <!--internas navegacao-->
            <div class="internas-navegacao">

                <!-- BARRA DE NAVEGAÇÃO -->
                @for (int i = Model.ListaMenuTree.Count; i > 0; i--)
                {
                    Menu m = Model.ListaMenuTree[i - 1];
                    if (@separador == "1")
                    {
                        <span style="margin-left: 10px;">-</span>
                    }
                    if (m.MenuTipoAcaoId == 1)
                    {
                        <a href="@m.LinkURL">@m.Rotulo</a>
                    }
                    else if (m.MenuTipoAcaoId == 2)
                    {
                        <a href="~/Noticias/@m.PublicacaoId/@DAL.Util.GerarURLAmigavel(@m.Rotulo)">@m.Rotulo</a>
                    }
                    separador = "1";
                }
            </div>
            <!--internas navegacao-->
            <div class="resultados-titulo">
                <h1><span class="cor-padrao-texto">NOTÍCIAS</span></h1>
            </div>

            @grid.GetHtml(columns: columns, displayHeader: false)
        }
        else
        {
            //Html.RenderAction("Index", "Conteudo", new { Id = Model.Conteudo.PublicacaoId });
            
            
            
            
            <!-- Banner Superior -->
if (Model.BannerSuperiorInterna != null && !String.IsNullOrEmpty(Model.BannerSuperiorInterna.Referencia) && (Model.Conteudo.PublicacaoId == Convert.ToInt32(Model.BannerSuperiorInterna.Referencia)))
{
    <div class="internas-banner opacidade" style="margin-top: 0;">
        @{
    var _target = "_self";
    if (Model.BannerSuperiorInterna.TargetId == 1) { _target = "_parent"; }
    if (Model.BannerSuperiorInterna.TargetId == 2) { _target = "_blank"; }
    var _link = String.IsNullOrEmpty(Model.BannerSuperiorInterna.LinkURL) ? "" : Model.BannerSuperiorInterna.LinkURL;
        }
        <a href="@_link" target="@_target" title="@Model.BannerSuperiorInterna.Detalhe.Resumo" class="cms-counter" referenciaid="@Model.BannerSuperiorInterna.BannerId">
            @if (Model.BannerSuperiorInterna.ArquivoId_Secundaria != null && Model.BannerSuperiorInterna.ArquivoId_Secundaria != 0)
            {
                <img src="@Url.Content("~/")File?id=@Model.BannerSuperiorInterna.ArquivoId_Primaria" onmouseover="javascript: $(this).attr('src', '@Url.Content("~/")File?id=@Model.BannerSuperiorInterna.ArquivoId_Secundaria');" onmouseout="javascript: $(this).attr('src', '@Url.Content("~/")File?id=@Model.BannerSuperiorInterna.ArquivoId_Primaria');" alt="@Model.BannerSuperiorInterna.Detalhe.Resumo" class="opacidade" />
            }
            else
            {
                <img src="@Url.Content("~/")File?id=@Model.BannerSuperiorInterna.ArquivoId_Primaria" alt="@Model.BannerSuperiorInterna.Detalhe.Resumo" class="opacidade" />
            }
        </a>
    </div>
}

<!--internas navegacao-->
<div class="internas-navegacao">

    <!-- BARRA DE NAVEGAÇÃO -->
    @for (int i = Model.ListaMenuTree.Count; i > 0; i--)
    {
        Menu m = Model.ListaMenuTree[i - 1];
        var _target = "_self";
        if (m.TargetId == 1) { _target = "_parent"; }
        if (m.TargetId == 2) { _target = "_blank"; }
        if (@separador == "1")
        {
            <span style="margin-left: 10px;">-</span>
        }
        if (m.MenuTipoAcaoId == 1)
        {
            <a href="@Url.Content("~/")@m.LinkURL" target="@_target">@m.Rotulo</a>
        }
        else if (m.MenuTipoAcaoId == 2)
        {
            <a href="@m.LinkURL" target="@_target">@m.Rotulo</a>
        }
        separador = "1";
    }
    <!-- BARRA DE NAVEGAÇÃO -->

</div>
<!--internas navegacao-->

<!--lateral esquerda-->
<div class="lateral">
    <div class="lateral-conteudo">

        <!--menu internas-->
        @*if ((Model.ListaMenuInterna.Count > 0) && (!Model.ListaMenuInterna.Any(x=>x.PublicacaoId == Model.Conteudo.PublicacaoId)))*@
        @if ((Model.ListaMenuInterna.Count > 0)
            && (Model.ListaMenuTree.Count > 0)
            && (
                (Model.ListaMenuTree.Count == 1)
                ||
                (
                    (Model.ListaMenuTree.Count > 1) &&
                    !(Model.ListaMenuTree[1].LinkURL == "" && Model.ListaMenuInterna.Any(x => x.PublicacaoId == Model.Conteudo.PublicacaoId) && Model.ListaMenuTree[0].PublicacaoId == Model.Conteudo.PublicacaoId)
                )
               )

            )
            {
                <div class="menu-internas" style="margin-bottom: 50px;">
                    <div class="menu-internas-titulo cor-padrao">
                        <h1>
                            @if (Model.ListaMenuTree[0].MenuPaiId != null) {
                                if (!Model.ListaMenuInterna.Any(x=>x.MenuPaiId == Model.ListaMenuTree[0].MenuPaiId))
                                {
                                    @Model.ListaMenuTree[0].Rotulo
                                }
                                else
                                {
                                    @Model.ListaMenuTree[1].Rotulo
                                }
                            }
                            else
                            {
                                @Model.ListaMenuTree[0].Rotulo
                            }

                        </h1>
                    </div>

                    <ul>

                        @foreach (Menu m in Model.ListaMenuInterna)
                        {
                            var _target = "_self";
                            if (m.TargetId == 1) { _target = "_parent"; }
                            if (m.TargetId == 2) { _target = "_blank"; }
                            var xx = "";
                            if (m.PublicacaoId == Model.Conteudo.PublicacaoId)
                            {
                                xx = "menu-internas-on";
                            }

                            if (m.MenuTipoAcaoId == 1)
                            {
                                @*class="topo-menu-off"*@
                                <li><a href="@Url.Content("~/")@m.LinkURL" class="@xx" target="@_target">@m.Rotulo</a></li>
                            }
                            else if (m.MenuTipoAcaoId == 2)
                            {
                                <li><a href="@m.LinkURL" class="@xx" target="@_target">@m.Rotulo</a></li>
                            }
                        }

                    </ul>
                </div>
            }
        <!--menu internas-->

        <!-- Agenda -->
        @{Html.RenderAction("Agenda", "Conteudo", new { model = Model });}
        <!--/Agenda -->

        <!-- Newsletter -->
        @{Html.RenderAction("NewsLetter", "Conteudo", new { model = Model });}
        <!--/Newsletter -->

        <!-- Banner Lateral -->
        @if (Model.BannerLateral != null)
        {
            <div class="lateral-conteudo-publicidade opacidade" style="margin-top: 0;">
                @{
            var _target = "_self";
            if (Model.BannerLateral.TargetId == 1) { _target = "_parent"; }
            if (Model.BannerLateral.TargetId == 2) { _target = "_blank"; }
            var _link = String.IsNullOrEmpty(Model.BannerLateral.LinkURL) ? "" : Model.BannerLateral.LinkURL;
                }
                <a href="@_link" target="@_target" title="@Model.BannerLateral.Detalhe.Resumo" class="cms-counter" referenciaid="@Model.BannerLateral.BannerId">
                    @if (Model.BannerLateral.ArquivoId_Secundaria != null && Model.BannerLateral.ArquivoId_Secundaria != 0)
                    {
                        <img src="@Url.Content("~/")File?id=@Model.BannerLateral.ArquivoId_Primaria" onmouseover="javascript: $(this).attr('src', '@Url.Content("~/")File?id=@Model.BannerLateral.ArquivoId_Secundaria');" onmouseout="javascript: $(this).attr('src', '@Url.Content("~/")File?id=@Model.BannerLateral.ArquivoId_Primaria');" alt="@Model.BannerLateral.Detalhe.Resumo" class="opacidade" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/")File?id=@Model.BannerLateral.ArquivoId_Primaria" alt="@Model.BannerLateral.Detalhe.Resumo" class="opacidade" />
                    }
                </a>
            </div>
        }
        <!--/Banner Lateral -->
    </div>
</div>
<!--lateral esquerda-->
<!--conteudo / direta-->



<div class="internas-conteudo">

    @if (Model.Conteudo != null)
    {
        <input type="hidden" id="PublicacaoId" value="@Model.Conteudo.PublicacaoId" />
        <input type="hidden" id="ConteudoCorpoMini" value="@DAL.Util.ScrubHtml(Model.Conteudo.Detalhe.Conteudo)" />
        <input type="hidden" id="ArquivoDestaqueId" value="@Model.Conteudo.ArquivoDestaqueId" />
        <input type="hidden" id="UrlAtual" value="@Request.Url" />
        
        <h1 id="ConteudoTitulo">@Model.Conteudo.Detalhe.Titulo</h1>

        <span id="ConteudoCorpo" style="font-size: 14px; color: #666; font-weight:normal; margin: 15px 0 0 0;">@Html.Raw(Model.Conteudo.Detalhe.Conteudo)</span>

        if(!String.IsNullOrEmpty( Model.Conteudo.Detalhe.Fonte) )
        {
            var data = "";
            if (@Model.Conteudo.Data != null)
            {
                data = " - " + ((DateTime)Model.Conteudo.Data).ToString("dd/MM/yyyy");
            }
            
           <span id="Fonte" style="width: 100%; float: left; text-align: right; font-size: 13px; color: gray; font-weight: normal; font-style: normal; margin: 15px 0 -10px 0; ">Fonte: @Model.Conteudo.Detalhe.Fonte @data</span> 
            
        }
        
        
        @*<div class="pw-widget pw-size-small" style="float: left; margin: 25px 0 0 0;">
            <a class="pw-button-facebook"></a>
            <a class="pw-button-twitter"></a>
            <a class="pw-button-linkedin"></a>
            <a class="pw-button-email"></a>
        </div>*@

        @*<div style="float: left;">
            <a href="Print/CAM-CCBC.aspx" target="_blank">
                <img src="Images/Bt_print.png" width="16" />
            </a>
        </div>*@

        @*<script src="http://i.po.st/static/v3/post-widget.js#publisherKey=mtnnocp28jgch1fbpjfs&retina=true" type="text/javascript"></script>*@

        <br /><br />

        
        
        <div style="display: block;">
            
            <img src="@Url.Content("~/Images/facebook.svg")" id="btnFace" title="Facebook" style=" height: 20px; border-radius: 4px; float: left; display: inline-block; cursor: pointer; margin: 0 0 0 0px;" />
            
            <img src="@Url.Content("~/Images/linkedin.png")" id="btnLinkedIn" title="LinkedIn" style=" height: 20px; border-radius: 4px; float: left; display: inline-block; cursor: pointer; margin: 0 0 0 4px;" />

            <img src="@Url.Content("~/Images/twitter.png")" id="btnTwitter" title="Twitter" style=" height: 20px; border-radius: 4px; float: left; display: inline-block; cursor: pointer; margin: 0 0 0 4px;" />


                @*<br />

                <div class="fb-like"
                     data-share="true"
                     data-width="450"
                     data-show-faces="true">
                </div>*@
</div>




        <div id="galeriaImagem" class="internas-conteudo-galeria" style="display: none;">
            <a id="Galeria" name="Galeria">
                <h3>GALERIA DE IMAGENS</h3>
            </a>
            

            
            @*<a id="example1" href="Images/Foto05.jpg" title="CAM-CCBC / Recepção" rel="example_group">
                    <img src="Images/Foto05.jpg" alt="ccbc" class="last" />
                </a>
                <a id="example1" href="Images/Foto06.jpg" title="CAM-CCBC / Sala" rel="example_group">
                    <img src="Images/Foto06.jpg" alt="ccbc" class="last" />
                </a>
                <a id="example1" href="Images/Foto04.jpg" title="CAM-CCBC / Sala" rel="example_group">
                    <img src="Images/Foto04.jpg" alt="ccbc" class="last" />
                </a>
                <a id="example1" href="Images/Foto03.jpg" title="CAM-CCBC / Sala" rel="example_group">
                    <img src="Images/Foto03.jpg" alt="ccbc" class="last" />
                </a>
                <a id="example1" href="Images/Foto02.jpg" title="CAM-CCBC / Sala" rel="example_group">
                    <img src="Images/Foto02.jpg" alt="ccbc" class="last" />
                </a>
                <a id="example1" href="Images/Foto01.jpg" title="CAM-CCBC / Sala" rel="example_group">
                    <img src="Images/Foto01.jpg" alt="ccbc" class="last" />
                </a>*@

        </div>
    }
    else
    {
        <h1>Conteúdo não encontrado!</h1>
    <span onclick="javascript:history.back();" style="cursor: pointer;">Voltar</span>
    }
</div>





<!--lateral direita-->
<div class="internas-direita" style="float: right !important;">


    @{
    Html.RenderPartial("../Conteudo/QuickMenu", Model);
    }


</div>
            
            
            
        }

    </div>
</div>

