@model SitePortal.Models.Portal

@{
    var larguraQuick = "";
    if (Model.SiteId == 1 && Model.isHome)
    {
        larguraQuick = "width: 330px !important;";
    }

}
<!--quick menu-->
<div class="conteudo-home-quick" style="@larguraQuick">
    <div class="ico">
        <img src="~/Images/Icon_quickmenu.png" alt="Icone CCBC" />
    </div>
    <div class="titulo">
        <h1>@Resources.Portal.QuickMenu_Titulo</h1>
    </div>
    <div class="subtitulo">
        <h2>@Resources.Portal.QuickMenu_Subtitulo</h2>
    </div>
    @{var AppPath = Url.Content("~/");
      var par = 0;
    }

    @if (!String.IsNullOrEmpty(Model.TedescoLogin) || 1==1)
    {
        if (Model.SiteId != null && Model.SiteId == 2)
        {
            <script>
                $(document).ready(function () {
                    $('[data-toggle="popover"]').popover({
                        placement: 'top'
                    });
                });
            </script>
        
            string color = "rgba(255, 0, 0, 0.30)"; //"#d61541";
            if (Model.Login != null && Model.Login.UsuarioId != null && Model.Login.UsuarioId != 0) { color = "rgba(0, 255, 0, 0.50)";
                //"#8ec63f"; 
            }

            string rotulo = "";
            rotulo += String.Format("<li style='float: left; width: 222px; margin: 0; padding: 0;'><a href='{0}' title=' '>{1}</a></li>", "#", "Acesso Restrito");
            rotulo = string.Format("<ul style='margin: 10px; padding: 0; line-height: 18px; font-weight: normal;'>{0}</ul>", "Necessário efetuar o login para acessar esta área!");
            rotulo = String.Format("<div class='menu-internas' style='width: 222px; opacity: 1 !important;' title=' '>{0}</div>", rotulo);
            
            @*<li><a href="#" onclick="javascript: $('#frmTedesco').submit();" target="_blank">Procedimento Online</a></li>*@
        
            <!--botao quick-->
            <div>
                <div class="conteudo-home-quick-botoes" style="opacity: 1 !important; background-color: @color" data-toggle="popover" data-trigger="focus" title="ACESSO RESTRITO" data-html="true" data-content="@rotulo" title=' '>
                    <div class="conteudo-home-quick-botoes-ico">
                        @if (Model.Login != null && Model.Login.UsuarioId != null && Model.Login.UsuarioId != 0)
                        {
                            <div class="conteudo-home-quick-botoes-ico">
                                <a href="#" onclick="javascript: $('#frmTedesco').submit();" target="_self">
                                    <i class="fa fa-file-text" style="color: rgb(0, 82, 145); font-size: 20px; margin: 18px 0 0 39px; "></i>
                                </a>
                            </div>
                            <div>
                                <a href="#" onclick="javascript: $('#frmTedesco').submit();" style="padding: 0; text-decoration: none;" ><div style=" width: 98px; height: 35px;"><h3 style="font-size: 11px; font-weight: bold; color: #666; margin: 0 auto; text-align: center; width: 80%; line-height: 10px;">Procedimento Online</h3></div></a>
                            </div>
                        }
                        else
                        {
                            <div class="conteudo-home-quick-botoes-ico">
                                <a href="#" onclick="javascript: $('#frmTedesco').submit();" target="_self" data-toggle="popover" data-trigger="focus" title="ACESSO RESTRITO" data-html="true" data-content="@rotulo" title=' '>
                                    <i class="fa fa-file-text" style="color: rgb(0, 82, 145); font-size: 20px; margin: 18px 0 0 39px;"></i>
                                </a>
                            </div>
                            <div>
                                <a href="#" onclick="javascript: $('#frmTedesco').submit();" style="padding: 0; text-decoration: none;" data-toggle="popover" data-trigger="focus" title="ACESSO RESTRITO" data-html="true" data-content="@rotulo" title=' '><div style=" width: 98px; height: 35px;"><h3 style="font-size: 11px; font-weight: bold; color: #666; margin: 0 auto; text-align: center; width: 80%; line-height: 10px;">Procedimento Online</h3></div></a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        
            <!--botao quick-->
        
            <!-- Tedesco WebFull-->
            if (!String.IsNullOrEmpty(Model.TedescoURL)) { 
            <form id="frmTedesco" action="@Model.TedescoURL/index.asp" method="post" target="w2">
                <input type="hidden" name="Login" value="@Model.TedescoLogin" />
                <input type="hidden" name="Email" value="@Model.TedescoEmail" />
                <input type="hidden" name="Token" value="@Model.TedescoToken" />
                
            </form>
            <iframe name="w2" style="display: none;"></iframe>
            }
        }
    }
    
    @foreach (var m in Model.ListaMenuQuick.FindAll(x=>x.PublicacaoId!=1095))
    {
        if (par == 1) { par = 0; } else { par = 1; }
        string url = "";
        if (m.MenuTipoAcaoId == 1)
        {
            url = Url.Content("~/") + m.LinkURL;
        }
        else if (m.MenuTipoAcaoId == 2)
        {
            url = m.LinkURL;
        }
        var _target = "_self";
        if (m.TargetId == 1) { _target = "_parent"; }
        if (m.TargetId == 2) { _target = "_blank"; }
        var rotulo = @m.Rotulo;
        <!--botao quick-->
        <div class="conteudo-home-quick-botoes">
            <div class="conteudo-home-quick-botoes-ico">
                @if (!String.IsNullOrEmpty(m.ImageURL))
                {
                    <a href="@url" target="@_target">
                        <img src="@Url.Content("~/")@m.ImageURL" alt="Quick Menu CCBC" />
                    </a>
                }
            </div>
            <div class="conteudo-home-quick-botoes-titulo">
                <h3><a href="@url" target="@_target">@Html.Raw(@rotulo)</a></h3>
            </div>
        </div>
        <!--botao quick-->
    }

    @if (par == 0 && !Model.isHome)
    {
        <div class="conteudo-home-quick-botoes">
            <div class="conteudo-home-quick-botoes-ico">
                <a href="@Url.Content("~/Contato")" target="_parent">
                    <img src="@Url.Content("~/")Images/Ico_contato.png" alt="" />
                </a>
            </div>
            <div class="conteudo-home-quick-botoes-titulo">
                <h3><a href="@Url.Content("~/Contato")" target="_parent">@Resources.Portal.QuickMenu_Icon_Contato</a></h3>
            </div>
        </div>
    }

</div>
<!--quick menu-->